# Auto detect text files and perform LF normalization
* text=auto

# Never normalize binaries
*.mp4 binary
*.mp3 binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff  binary
*.woff2 binary
*.ttf binary
*.otf binary
